.header {
    background-color: #152238;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.h3 {
    color: white;
    justify-content: left;
}

.h4 {
    color: #7287cc;
    justify-content: left;
}

.main {
    display: flex;
}

.first {
    justify-content: left;
    color: white;
    width: 900px;
    padding-right: 150px;
}

.second {
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    contain: content;
    border: 2px solid;
    border-color: #00CCFF;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: right;
}

.image {
    height: 150px;
    width: 150px;
    justify-content: center;
}

.first {
    padding-bottom: 20px;
}

.listing1 {
    list-style-type: none;
}

.third ul li {
    display: inline;
    text-align: left;
    margin: 60px;
    color: white;
}

.third ul {
    height: 20px;
    background-color: #36454F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: -10px;
}

.column1 {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.education {
    text-decoration: underline;
    color: #007aff;
}

.title1 {
    font-weight: bold;
    font-size: x-large;
}

.title2 {
    font-size: large;
}

.listing2 {
    list-style-type: none;
    display: inline;
    margin-inline: 250px;
    justify-content: left;
    margin-left: -40px;
    font-style: italic;
    font-size: large;
    justify-content: flex-start;
    justify-content: flex-end;
}

.workexperience {
    padding-top: 50px;
    text-decoration: underline;
    color: #007aff
}

.numbers .listing3 {
    display: inline;
    margin-inline: 250px;
    justify-content: left;
    margin-left: -40px;
    font-style: italic;
    font-size: large;
}

.h5 {
    font-style: italic;
}

.listing4 {
    font-style: italic;
}

.honorsandaward {
    padding-top: 50px;
    text-decoration: underline;
    color: #007aff
}

.skills {
    padding-top: 50px;
    text-decoration: underline;
    color: #007aff
}

.button {
    background-color: #36454F;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    color: white;
}